:root {
  --near_signal_width_and_height: 25vmin;
  --near_signal_left_and_right: 10vmin;
  --near_signal_color: #bb9457;
}

#signal_scope {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  /* 画面幅or画面高さの小さい方の1/4のwidthを設定 */
  width: 25vmin;
  /* 画面幅or画面高さの小さい方の1/4のheightを設定 */
  height: 25vmin;
  background-color: #57e085;

  /* 緑サークル表示 */
  clip-path: circle(50%);
  -webkit-mask-image: radial-gradient(transparent 60%, black 30%);
  mask-image: radial-gradient(transparent 60%, black 30%);
}

#display {
  position: absolute;
  top: 30vmin;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  /* 画面幅or画面高さの小さい方の1/4のwidthを設定 */
  width: 25vmin;
  height: 2vmin;

  font-size: 2em;

  #destination_display {
    color: white;
  }
  #range_display {
    color: orange;
  }
}

#near_signal_scope_left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--near_signal_left_and_right) * -1);
  right: var(--near_signal_left_and_right);
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: var(--near_signal_width_and_height);
  height: var(--near_signal_width_and_height);

  /* 色を変化させて部分的な弧を作る */
  background-image: conic-gradient(
    transparent 0,
    transparent 50%,
    var(--near_signal_color) 50%,
    var(--near_signal_color) 100%
  );
  background-color: transparent;
  clip-path: circle(50%);
  -webkit-mask-image: radial-gradient(transparent 60%, black 30%);
  mask-image: radial-gradient(transparent 60%, black 30%);
}

#near_signal_scope_right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--near_signal_left_and_right);
  right: calc(var(--near_signal_left_and_right) * -1);
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  /* 画面幅or画面高さの小さい方の1/6のwidthを設定 */
  width: var(--near_signal_width_and_height);
  /* 画面幅or画面高さの小さい方の1/6のheightを設定 */
  height: var(--near_signal_width_and_height);

  /* 色を変化させて部分的な弧を作る */
  background-image: conic-gradient(
    var(--near_signal_color) 0,
    var(--near_signal_color) 50%,
    transparent 50%,
    transparent 100%
  );
  background-color: transparent;
  clip-path: circle(50%);
  -webkit-mask-image: radial-gradient(transparent 60%, black 30%);
  mask-image: radial-gradient(transparent 60%, black 30%);
}

#debug {
  color: red;
  position: absolute;
  top: 30vmin;
  bottom: -30vmin;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  /* 画面幅or画面高さの小さい方の1/2のwidthを設定 */
  width: 50vmin;
  /* 画面幅or画面高さの小さい方の1/2のheightを設定 */
  height: 50vmin;
  visibility: hidden;
}

#debug2 {
  color: red;
  position: absolute;
  top: -40vmin;
  bottom: 40vmin;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  /* 画面幅or画面高さの小さい方の1/2のwidthを設定 */
  width: 50vmin;
  /* 画面幅or画面高さの小さい方の1/2のheightを設定 */
  height: 50vmin;
  visibility: hidden;
}

#debug3 {
  color: red;
  position: absolute;
  top: -50vmin;
  bottom: 50vmin;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  /* 画面幅or画面高さの小さい方の1/2のwidthを設定 */
  width: 50vmin;
  /* 画面幅or画面高さの小さい方の1/2のheightを設定 */
  height: 50vmin;
  visibility: hidden;
}
