#signal_scope {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  /* 画面幅or画面高さの小さい方の1/6のwidthを設定 */
  width: 16.66666666666667vmin;
  /* width: 400px; */
  /* 画面幅or画面高さの小さい方の1/6のheightを設定 */
  height: 16.6666666666666vmin;
  /* height: 400px; */
  background-color: #57e085;

  /* 緑サークル表示 */
  clip-path: circle(50%);
  -webkit-mask-image: radial-gradient(transparent 60%, black 30%);
  mask-image: radial-gradient(transparent 60%, black 30%);
}

#output {
  color: red;
  position: absolute;
  top: 20vmin;
  bottom: -20vmin;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  /* 画面幅or画面高さの小さい方の1/6のwidthを設定 */
  width: 20.66666666666667vmin;
  /* width: 400px; */
  /* 画面幅or画面高さの小さい方の1/6のheightを設定 */
  height: 20.6666666666666vmin;
  /* height: 400px; */
}